<template>
    <require from="./tdap-sidebar.css"></require>

    <sidebar>
        <h2>Tiempo Goals</h2>

        <nav>
            <ul>
                <li>
                    <a route-href="route: my-goals">Priorities management</a>
                </li>
                <li>
                    <a route-href="route: my-goals">Priorities visualization</a>
                </li>
                <li>
                    <a route-href="route: manager-input">Manager input</a>
                </li>
                <li>
                    <a route-href="route: career-path">Career path</a>
                </li>
                <li>
                    <a route-href="route: career-path">Skill compass</a>
                </li>
            </ul>
        </nav>
    </sidebar>
</template>
