<template>
    <require from="./tdap-sidebar.css"></require>

    <sidebar>
        <h2>Tiempo Goals</h2>

        <nav>
            <ul>
                <li>
                    <a route-href="route: my-goals">My goals</a>
                </li>
                <li>
                    <a route-href="route: my-goals">Manager input</a>
                </li>
                <li>
                    <a route-href="route: my-goals">Career path</a>
                </li>
            </ul>
        </nav>
    </sidebar>
</template>
