$sidebarWidth: 250px;

html, body {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-size: 12px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

#aurelia-playground-app {
    & > header {
        display: flex;
        box-sizing: border-box;
        flex: 0 0 auto;
        height: 4em;
        line-height: 4em;
        button {
            transition: transform linear 100ms;
        }
    }

    & > main {
        display: block;
        box-sizing: border-box;
        position: relative;
        flex: 1 1 auto;
        background-color: #057483;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        transition: padding ease-in 100ms;
        padding-left: 0;
        & > sidebar {
            display: block;
            position: absolute;
            box-sizing: border-box;
            z-index: 1500;
            background-color: #eeeeee;
            box-shadow: 1px 1px 1px #000000;
            padding: 0.5em;
            top: 0;
            bottom: 0;
            left: -$sidebarWidth;
            width: $sidebarWidth;
            transform: translate3d(0, 0, 0);
            transition: left ease-in 100ms;
        }
    }

    & > footer {
        display: block;
        flex: 0 0 140px;
        background-color: #ffffff;
        border-top: 4px solid #00adad;
    }

    &.sidebar-visible {
        > main {
            padding-left: $sidebarWidth;
            & > sidebar {
                left: 0;
            }
            > section {
                left: $sidebarWidth;
            }
        }
        > header {
            button {
                transform: rotate(90deg);
            }
        }
    }
}

body > header {
    h1 {
        margin: 0;
    }
}

body > main > section {
    position: absolute;
    display: block;
    box-sizing: border-box;
    padding: 1em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.icon-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
